
.formBox
{
  background-color: #ca973b;
  width: 30vw;
  height: 45vh;
  padding: 15px;
  border-radius: 5px;
  margin-left: 32vw;
  margin-top: 20vh;
}

.email
{
  background-color: black;
  width: 20vw;
  height: 7vh;
  border-radius: 5px;
  margin-top: 10vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
  padding: 10px;
  color: white;
}

.password
{
  background-color: black;
  width: 20vw;
  height: 7vh;
  border-radius: 5px;
  margin-top: -4vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
  padding: 10px;
  color: white;
}

.login
{
  background-color: black;
  color: #ca973b;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 19vw;
  display: inline;
  margin-top: -5vh;
}

.resetPass
{
  display: inline;
  float: left;
  margin-left: 4vw;
  font-weight: bold;
}

.formImg
{
  width: 7vw;
  position: absolute;
  left: 43vw;
  top: 27vh;
  background-color: black;
  border-radius: 50px;
  border: black 3px solid;
}


@media screen and (max-width: 479px)
{
  .formBox
  {
    width: 75vw;
    margin-left: 13vw;
  }

  .email, .password
  {
    width: 55vw;
  }

  .login
  {
    margin-left: 40vw;
    margin-top: -3vh;
  }

  .resetPass
  {
    font-size: 0.8rem;
  }

  .formImg
  {
    width: 20vw;
    margin-left: -2vw;
  }

}