.container{
    background-color: rgb(230, 228, 228);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    height: 70%;
    width: 70%;
}
.profileImage{
    border-radius: 100%;
}
.header{
    font-size: 70px;
    font-weight: 200;
}
.subheader{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 25px;
}
.name, .dob, .selection {
    border-bottom: 2px solid rgb(255, 255, 0);
    margin-top: 30px;
    font-size: 32px;
    font-weight: 200;
}

#firstName, 
#lastName,
#birth,
#selection {
    outline: none;
    background: none;
    border: none;
}

.bio{
    background-color: black;
    color: yellow;
    width: 100%;
    height: 250px;
    
}

.submitBttn{
    width: 100%;
    color: black;
    background-color: rgb(223, 223, 4);
    border: 1px solid black;
    padding: 5px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.submitBttn:hover{
    width: 100%;
    color: yellow;
    background-color: black;
    border: 1px solid yellow;
    padding: 5px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.loan{
    border-bottom: 2px solid rgb(255, 255, 0);
    margin-top: 30px;
    font-size: 32px;
    font-weight: 200;
    color: white;
    width: 300px;

}

.loan:placeholder{
    color: white;
    font-size: 32px;
}