
.title
{
  color: #ca973b;
  font-size: 2rem;
  text-align: center;
  margin-top: 4vh;
}

.contentBox:after
{
  content: "";
  display: table;
  clear: both;
}

.leftBox, .rightBox
{
  float: left;
  width: 50%;
}

.hAvatar
{
  width: 26vw;
  margin-top: 6vh;
  margin-left: 6vw;
}

.hNft
{
  width: 30vw;
  z-index: 50;
  margin-top: -14vh;
  margin-left: 15vw;
}

.hSubtitle
{
  color: #ca973b;
  font-size: 2rem;
  margin-top: 3vh;
  margin-left: 6vw;
}

.cta
{
  color: white;
  font-size: 2rem;
  margin-top: 2vh;
}

.signatureWall
{
  margin-top: -22vh;
}

.post
{
  position: absolute;
  top: 35vh;
  background-color: rgba(255, 255, 255, 0);
  border: #ca973b 2px solid;
  border-radius: 5px;
  color: white;
}

.email
{
  position: absolute;
  left: 67vw;
  top: 36.5vh;
  background-color: rgba(255, 255, 255, 0);
  border: #ca973b 2px solid;
  border-radius: 5px;
  color: white;
}

.btn
{
  color: white;
  background-color: #ca973b;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  left: 83vw;
  top: 37.5vh;
}

.postBox
{
  border: #ca973b 2px solid;
  border-radius: 5px;
  width: 45vw;
  height: 50vh;
  position: absolute;
  top: 45vh;
  overflow: hidden;
  overflow-y: scroll;
}

.postBox::-webkit-scrollbar
{
  display: none;
}

.box
{
  background-color: black;
  color: white;
  padding: 10px;
  border-bottom: #ca973b 2px solid;
}

.postImg
{
  display: inline;
  margin-right: 2vw;
}

.userPosts
{
  color: white;
  display: inline;
  font-size: 2rem;
}

@media screen and (max-width: 479px) 
{
  .leftBox, .rightBox
  {
    width: 100%;
  }

  .rightBox
  {
    display: none;
  }

  .title
  {
    font-size: 1.7rem;
    text-align: center;
  }

  .hAvatar
  {
    width: 70vw;
    margin-left: 15vw;
  }

  .hNft
  {
    width: 75vw;
    margin-top: -6vh;
    margin-left: 12.5vw;
  }

  .hSubtitle
  {
    margin-top: 5vh;
    text-align: center;
    margin-left: 2vw;
  }

}

@media screen and (min-width: 480px ) and (max-width: 767px)
{

}

@media screen and (min-width: 768px) and (max-width: 1280px)
{
  
}

@media screen and (min-width: 1281px)
{
  
}
