/* Loading Screen */

.container 
{ 
    background:#000000;  
}

.loadingLogo
{
    margin-top: 16vh;
    margin-left: 34vw;
}

.loadingPara
{
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 6vh;
    margin-left: -1.5vw;
    font-size: 2.5rem;
}

/* Navbar */

.navbar
{
    height: 80%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.navLinks
{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
}

.navItem
{
    background-color: #ca973b;
    padding: 15px;
    border-radius: 5px;
}

  



@media screen and (max-width: 479px)
{
    .loadingLogo
    {
        width: 55vw;
        margin-left: 21vw;
        margin-top: 23vh;
    }

    .loadingPara
    {
        font-size: 1.5rem;
    }
}